
/*
  *= require 'reset.css'
*/

@import
  "variables",
  "mixins",
  "bootstrap";


// BASE

body {
  font: 300 16px/1.65 lato, sans-serif;
  color: #666;
}

p {
  margin: 0;
}

a {
  color: $accent;
  &:hover, &:focus {
    color: darken($accent, 10%);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0;
  }
}



// STRUCTURE

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #2f2f2f;
}

#site-main {
  position: relative;
  z-index: 1;
  margin-bottom: 100vh;
  background-color: #fff;
}

// PAGE

#welcome {
  height: 100vh;
  background-image: image-url("welcome.jpg");
  .logo {
    display: block;
    width: 75%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
  }
  .more-link {
    margin: 50px 0 8px;
    color: rgba(255,255,255, 0.6);
    color: #fff\9;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
  }
  .cta-button {
    width: 30px;
    height: 30px;
    @include border-radius(30px);
    margin: 0 auto;
    background: $accent image-url('cta.png') no-repeat 50% 50%;
    background-size: 17px 17px;
  }
  @media screen and (max-width: 767px) {
    .more-link, .cta-button {
      display: none;
    }
  }
}

#challenge {

}

.challenge-teaser {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto 20px;
    background-color: #eee;
  }
}

#route {
  padding: 0 0 100px;
  background-color: #f1f1f1;
  .route-stats {
    padding: 200px 0;
    background-image: image-url('route.jpg');
  }
  .stat {
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    @include border-radius(120px);
    background-color: transparentize($accent, 0.2);
    color: #fff;
    + .stat {
      margin-left: 10px;
    }
    .stat-number {
      display: block;
      padding: 40px 0 0;
      font-weight: 100;
      font-size: 36px;
      line-height: 20px;
      @media screen and (max-width: 767px) {
        font-weight: 300;
      }
    }
    .stat-unit {
      font-size: 12px;
      font-weight: 100;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        font-weight: 300;
      }
    }
  }
  .stat-two {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
  }
  .stat-one {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
  }
  .section-content {
    padding: 80px 0 0;
  }
  .route-segment {
    margin-top: 30px;
    background-color: #fff;
    @include box-shadow(0 0 5px #ccc);
    color: $accent;
  }
  .route-segment-stats {
    table-layout: fixed;
    width: 100%;
    background-color: lighten($accent, 40%);
    line-height: 1.1;
  }
  .route-segment-header {
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    background-color: $accent;
    color: #fff;
  }
  .route-segment-description {
    padding: 15px 25px 20px;
    text-align: left;
    line-height: 1.4;
    color: #999;
  }
  .route-segment-stat {
    padding: 15px 25px;
    .route-segment-stat-gain-figure, .route-segment-stat-gain-unit {
      display: block;
    }
    .route-segment-stat-gain-figure {
      font-size: 36px;
      font-weight: 100;
      @media screen and (max-width: 767px) {
        font-size: 24px;
        font-weight: 300;
      }
    }
    .route-segment-stat-gain-unit {
      font-size: 12px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
    }
  }
  .route-additional {
    margin-top: 40px;
    text-align: left;
  }
}

.downloadable-directions {
  margin-top: 50px;
}

#results {
  position: relative;
  margin-bottom: 100vh;
  text-align: center;
  background-color: $accent;
  &:before, &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  &:before {
    border-width: 10vh 50vw 0 0;
    border-color: #fff transparent transparent transparent;
    right: 50%;
  }
  &:after {
    border-width: 0 50vw 10vh 0;
    border-color: transparent #fff transparent transparent;
    left: 50%;
  }
}

.results-table {
  width: 100%;
  margin: 50px auto 0;
  text-align: left;
  color: #fff;
  th {
    text-transform: uppercase;
    background-color: darken($accent, 3%);
  }
  th, td {
    padding: 3px;
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
    &:first-child, &:last-child {
      width: 16%;
    }
  }
  tbody > tr:nth-child(even) > td {
    background-color: darken($accent, 3%);
  }
  caption {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
  }
}

.alt-section-text {
  margin: 30px 0 0;
  text-align: left;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

#rules {
  position: relative;
  &:after {
    content: " ";
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height:30px;
    background: linear-gradient(-30deg, transparent 75%, #f1f1f1 75%) 0 50%,
                linear-gradient( 30deg, transparent 75%, #f1f1f1 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:30px 30px, 30px 30px;
  }
  .rules-columns {
    margin: 40px 0 0;
    text-align: left;
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    p + p {
      margin-top: 0;
    }
    p {
      display: inline-block;
      margin-bottom: 18px;
    }
  }
}

#sponsors {
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: $accent image-url('point.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  .content-footer {
    display: table;
    width: 100%;
  }
  .footer-container {
    height: 100vh;
    padding: 0 105px 15px 0;
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
  }
  .reward-sponsors {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 4;
    margin: -150px 0 0;
    a {
      display: inline-block;
    }
    img {
      height: 150px;
      @media screen and (max-width: 767px) {
        height: 75px;
      }
    }
  }
}

// MODULES

.site-nav-link {
  display: inline-block;
  font-size: 12px; 
  text-transform: uppercase;
}

.section {
  padding: 80px 0;
  background-color: #fff;
  text-align: center;
  p + p {
    margin-top: 18px;
  }
}

.section-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.section-parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.section-touch {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -20px;
    border-style: solid;
    position: absolute;
    left: 50%;
    z-index: 2;
  }
  &:before {
    top: 0;
    border-color: #fff transparent transparent transparent;
    border-width: 20px 20px 0 20px;
  }
  &.section-touch-special:before {
    border-color: $accent transparent transparent transparent;
  }
}

.section-special {
  background-color: $accent;
  color: #fff;
  text-align: center;
}

.section-alt {
  background-color: lighten($accent, 40%);
}

.section-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.primary-title {
  margin: 0 0 0.35em;
  font-size: 102px;
  font-weight: 100;
  text-transform: uppercase;
}

.secondary-title {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 0 7px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.225em;
  text-align: center;
  color: #777;
  &:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    background-color: #dedede;
  }
}

.secondary-title-darkbg {
  color: #fff;
  &:after {
    background-color: transparentize(#fff, 0.5);
  }
}

.secondary-title-altbg {
  &:after {
    background-color: darken(#dedede, 20%);
  }
}


// ANIMATIONS

// fades in/out content
.fade {
  opacity: 0;
  @include transition(opacity, 1.5s, cubic-bezier(.10, .10, .25, .90));
  &.in {
    opacity: 1;
  }
}

// slide in/out from either left or right
.slide-right {
  position: relative;
  right: -100%;
  @include transition(right, 0.5s, cubic-bezier(.10, .10, .25, .90), 0.5s);
  &.in, .no-js &, .no-csstransitions & {
    right: 0;
  }
  @media screen and (max-width: 767px) {
    right: 0;
  }
}

.slide-left {
  position: relative;
  left: -100%;
  @include transition(left, 0.5s, cubic-bezier(.10, .10, .25, .90), 0.5s);
  &.in, .no-js &, .no-csstransitions & {
    left: 0;
  }
  @media screen and (max-width: 767px) {
    left: 0
  }
}

.scale {
  @include transition(all, 0.5s, cubic-bezier(.10, .10, .25, .90), 0.5s);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  &.in, .no-js &, .no-csstransitions & {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  @media screen and (max-width: 767px) {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

