
@import
  "normalize",
  "reset";

$primary: #55acaa;
$secondary: #54255F;
$tertiary: #f14c05;

// BASE

:root {
  --font_stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --primary: #{$primary};
  --link_hover: #{darken($primary, 10%)};
  --stat_bg: #{transparentize($primary, 0.2)};
  --route_segment_stat: #{lighten($primary, 40%)};
  --results_bg: #{darken($primary, 3%)};
  --bg_alt: #{lighten($primary, 40%)};
  --secondary: #{$secondary};
  --body-text: #999;
}


html { 
  font-size: 10px;/*for using REM units*/
}

body {
  padding: 1.5rem 1.5rem 10rem;
  display: grid;
  grid-template-columns: minmax(200px, 1110px);
  justify-content: center;
  font-family: var(--font_stack);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--body-text);
  background-color: #fff;
}

@media (min-width: 500px) {
}

// a {
//   color: rgba(255,255,255, 0.7);
//   &:hover, &:focus {
//     color: rgba(255,255,255,1);
//   }
// }


// HEADER

.site-header {
  // padding: 3rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__brand {
    font: 800 4.2rem/1 "helvetica neue", helvetica, var(--font_stack);
    letter-spacing: -.15rem;
    a {
      color: #111;
      &:hover, &:focus, &:active {
        color: var(--tertiary);
      }
    }
  }
  &__links {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    @media (min-width: 576px) {
      margin-top: 0;
    }
  }
}

.site-nav-link {
  display: inline-block;
  margin-right: 3.2rem;
  color: #111;
  &:hover, &:focus, &:active {
    color: #111;
    text-decoration: underline;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    font-weight: 600;
    color: #111;
  }
}

// .containment {
//   max-width: 1110px;
//   margin: 0 auto;
// }


// PAGE

.section {
  // background-color: #fff;
  &--hero {
    padding: 10rem 0;
    font-size: 20rem;
    font-family: monospace;
    line-height: 1;
    font-weight: 900;
    color: yellow;
    display: flex;
    justify-content: center;
    align-content: stretch;
    span {
      position: relative;
      display: flex;
      margin-right: 1.5rem;
      padding: 5rem 0.5rem;
      background-color: #191919;
      border-radius: 1rem;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -8px;
        height: 3px;
        background-color: #191919;
      }
      &.special {
        &:before {
          display: none;
        }
      }
    }
  }
}


.report-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 3rem;
  justify-content: center;
  .card {
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.15);
    div {
      padding: 1.5rem;
    }
    img {
      display: block;
      max-width: 100%;
      object-fit: cover;
    }
    h3 {  
      color: var(--body-text);
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.15;
    }
    time {
      margin-top: 1rem;
      display: block;
      font-size: 1.4rem;
      color: #888;
    }
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
  }
}

.route-segments {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 3rem;
  padding-left: 0;
  list-style: none;
}
.route-segment {
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0,0,0, 0.15);
  color: #444;
}
.route-segment-stats {
  table-layout: fixed;
  width: 100%;
  background-color: var(--route_segment_stat);
  line-height: 1.1;
  text-align: center;
}
.route-segment-header {
  padding: 10px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #444;
  color: #fff;
}
.route-segment-description {
  padding: 15px 25px 20px;
  text-align: left;
  line-height: 1.4;
  color: var(--body-text);
}
.route-segment-stat {
  padding: 15px 25px;
  .route-segment-stat-gain-figure, .route-segment-stat-gain-unit {
    display: block;
  }
  .route-segment-stat-gain-figure {
    font-size: 36px;
    font-weight: 100;
    @media screen and (max-width: 767px) {
      font-size: 24px;
      font-weight: 300;
    }
  }
  .route-segment-stat-gain-unit {
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
}
.route-additional {
  margin-top: 40px;
  text-align: left;
}

.downloadable-directions {
  margin-top: 50px;
}

.results-table {
  margin: 0 auto;
  table-layout: fixed;
  // width: 100%;
  text-align: left;
  border-collapse: collapse;
  background-color: #fff;
  th {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem 1.5rem;
  }
  th, td {
    border: none;
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
    &:nth-child(2) {
      width: 40%;
    }
  }
  td {
    padding: .3rem 1.5rem;
    font-family: 'sf mono', 'lucida console', lucida, monospace;
  }
  tbody > tr:nth-child(even) > td {
    background-color: var(--bg_alt);
  }
  tbody > tr:hover > td {
    background-color: var(--secondary);
    color: #fff;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
  caption {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
    caption-side: top;
  }
  + .results-table {
    margin-top: 4rem;
  }
}

.trip-report {
  max-width: 800px;
  p {
    font: 300 2.3rem/30 "Iowan Old Style", georgia, serif;
    + p {
      margin-top: 2.5rem;
    }
    b, strong {
      font-weight: bold;
    }
    em, i, cite {
      font-style: italic;
    }
  }
}


// MODULES

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}



