
  <div class="content-footer">
    <div class="footer-container">
      <article class="article">
        <aside class="special-thanks">
          Beautiful photos made by Joe Klementovich of <a href="http://klementovichphoto.com/" target="_blank">Klementovich Photo</a>.<br>
          Questions? Contact us at <a href="mailto:info@whitemountaincafe.com">info@whitemountaincafe.com</a>.
        </aside>
        <figure class="reward-sponsors">
          <%= link_to(image_tag("wmc.png", :height => '150'), 'http://whitemountaincafe.com/testpresscafe/', :target => '_blank') %>
          <%= link_to(image_tag("saalt.png", :height => '150'), 'http://www.libbysbistro.org/#!saalt-pub/cjg9', :target => '_blank') %>
        </figure>
      </article>
    </div>
  </div>
