
    <div class="container">
      <div class="row">
        <figure class="col-6 col-sm-3">
          <%= link_to(image_tag("wmc.svg", :class => 'img-fluid'), 'http://whitemountaincafe.com/testpresscafe/', :target => '_blank') %>
        </figure>
        <figure class="col-6 col-sm-3">
          <%= link_to(image_tag("saalt.png", :class => 'img-fluid'), 'http://www.libbysbistro.org/#!saalt-pub/cjg9', :target => '_blank') %>
        </figure>
      </div>
      <aside class="special-thanks">
        Photos made by <a href="http://klementovichphoto.com/" target="_blank">Klementovich Photo</a>.<br>
        Contact us at <a href="mailto:info@whitemountaincafe.com">info@whitemountaincafe.com</a>.
      </aside>
    </div>
