
  <h1 class="site-header__brand" href="/">
    <%= link_to('Mount Adams Challenge', '/') %>
  </h1>
  <nav class="site-header__links">
    <%= nav_link "Route", "/route/", class: "site-nav-link" %>
    <%= nav_link "Results", "/results/", class: "site-nav-link" %>
    <%= nav_link "Reports", "/reports/", class: "site-nav-link" %>
  </nav>
