
    <section class="section text-left">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" action="/thank-you">
              <label for="name">
                Name
              </label>
              <input id="name" type="text" name="name" class="form-control" required>
              <label for="email" class="mt-3">
                Email Address
              </label>
              <input id="email" type="email" name="email-address" class="form-control" required>
              <label for="trip-report-or-question" class="mt-3" required>
                Your trip report or question
              </label>
              <textarea id="trip-report-or-question" name="trip-report-or-question" class="form-control mb-3" rows="10" required></textarea>
              <label for="report-photo" class="mt-3" required>
                Your trip report photo (if this is a trip report)
              </label>
              <input id="report-photo" type="file" name="report-photo" class="form-control">
              <div data-netlify-recaptcha="true" class="mt-3"></div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
