---
  title: Trip Reports
---

<section class="section section--lightgray">
  <div class="container">
    <ul class="report-cards list-unstyled">
      <% dato.reports.each_with_index do |report, i| %>
          <li class="report-card">
            <a href="/reports/<%= report.slug %>">
              <%= content_tag(:h3, report.title) %>
              <%= content_tag(:time, report.date.strftime("%B %e, %Y")) %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>
</section>