
    <section class="section text-left">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <h1 class="mb-4">
              Thank you for contact us! We'll get back to you soon.
            </h1>
            <%= image_tag('mount-adams-challenge-og.jpg', :class => 'img-fluid') %>
          </div>
        </div>
      </div>
    </section>
